<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../layout/head') %> 
  </head>
  <body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <main>
      <section>
        <img src="<%= partbook.img_url %>" />
        <p><%= partbook.title %></p>
        <p><%= partbook.author %></p>
        <p><%= partbook.description %> </p>
        <p> ISBN: <%= partbook.isbn %> </p>
      </section>

      <form action="/books/<%= partbook.id %>?_method=DELETE" method="POST">
        <button type="submit" name="delete" value="delete">Delete This Book</button>
      </form>

      <form action="/books/<%= partbook.id %>?_metheod=PUT" method="POST">
        <button type="submit" name="update" value="update">Update Book Content</button>
      </form>

    </main>
  </body>
</html>
