<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %> 
</head>
<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <main>
        <ul>
            <% boooks.forEach ( value =>{%>
              <li>
                  <img src="<%= value.img %> " alt="" srcset="">
                  <h3><%= value.title %> </h3>
                  <h4><%= value.author %> </h4>
                  <p><%= value.overview %> </p>
                  
                  <form action="/books" method="POST">
                      <input type="hidden" name="add" value="<%= value.img %>" >
                      <input type="hidden" name="add" value="<%= value.title %>">
                      <input type="hidden" name="add" value="<%= value.author %>">
                      <input type="hidden" name="add" value="<%= value.overview %>">
                      <input type="hidden" name="add" value="<%= value.isbn %>">
                      <button type="submit">Add to My Collection</button>
                  </form>
              </li>  
          <%})%> 
        </ul>
    </main>
</body>
</html>