<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../layout/head') %> 
  </head>
  <body>
    <header>
        <%- include('../layout/header') %> 
      <p> No of Books <%= sqldata.length %> </p>
    </header>
    <main>
      <section>
        <% sqldata.forEach(value => { %>
        <div>
          <img src="<%= value.img_url %>" />
          <p><%= value.title %></p>
          <p><%= value.author %></p>
          <a href="/books/<%= value.id %> ">View Details</a>
        </div>
        <% }) %>
      </section>
    </main>
  </body>
</html>
